@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Doran";
  src: url("./assets/fonts/DoranFaNum-Medium.ttf");
}

* {
  font-family: "Doran";
}

.custom-input {
  border-radius: 10px;
  border: 1px rgb(221, 221, 221) solid;
  padding: 4px 12px;
  outline: none;
  background-color: white;
  height: 40px;
}

.custom-input:focus {
  outline: none;
  border: 1px solid #bab19e;
  box-shadow: 0 0 10px 2px #bab19e;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100; /* Ensure it's above other content */
}
